{% extends '_base.html' %}
{% load static %}

{% block home %}
Home
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
  <div class="d-flex flex-column justify-content-center align-items-center"
       style="height: 100vh; background-image: url({% static "images/bg3.gif" %}); background-size: cover; background-position: center;">
    <a href="{% url 'create-portfolio' %}" class="btn btn-light btn-lg w-50 fw-bold mb-3">Get Started</a>
    <a href="{% url 'all-assets' %}" class="btn btn-light btn-lg w-50 fw-bold mb-3">View All Assets</a>
  </div>
</div>
{% endblock %}
