{% extends '_base.html' %}
{% load static %}

{% block home %}
Home
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <a href="{% url 'create-portfolio' %}"
       style="padding: 20px 40px; font-size: 32px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 8px;">
        Get Started
    </a>
</div>
{% endblock %}

<style>
  body {
    background-image: url("{% static 'images/bg2.jpg' %}");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    height: 100vh;
    margin: 0;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
